.teacher-background {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../Images/training.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;  
}